body {
    margin : 0;
    padding: 0;
}
 /* ============== FUNDO ========================== */
header {
    background-image:
    linear-gradient(to bottom, rgba(0,0,0,0) 60%, rgba(0,0,0,0.6) 100%),
     url(imagens/101Tratada.png);
    background-size: cover; 
    height: 780px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid green;  */
    
}

/* ============== BOTAO ZAP ========================== */
.btn-whatsapp {
    position: fixed;    
    bottom: 20px;       
    right: 20px;        
    width: 100px;        
    height: 100px;       
    z-index: 1000;      /* Garante que ele fique sobre todos os outros elementos */

    /* Configurações para o surgimento suave */
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    transition: transform 0.2s ease;
}
.btn-whatsapp.mostrar {  /* classe acionada pelo js */
    opacity: 1;
    visibility: visible;
}
.btn-whatsapp:hover {
    transform: scale(1.2); /* Efeito de aumento ao passar o mouse */
}
/* Definindo a animação de vibração */
@keyframes tremer {
    0% { transform: rotate(0deg); }
    5% { transform: rotate(10deg); }
    10% { transform: rotate(-10deg); }
    15% { transform: rotate(10deg); }
    20% { transform: rotate(-10deg); }
    25% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); } 
    
}
.btn-whatsapp img {
    width: 100%;
    height: auto;
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.2));
    
    /* Aplica a animação */
    animation: tremer 5s infinite; 
    transform-origin: center; /* Garante que trema a partir do meio */
}
/* Pausa a animação quando o usuário passa o mouse para não atrapalhar o clique */
.btn-whatsapp:hover img {
    animation-play-state: paused;
    transform: scale(1.1);
}

/* =============== nav-principal ================== */
.nav-principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 348px;
    padding-bottom: 70px;
    /* border: 5px solid rgb(230, 236, 113); */
}
.logo-pousada img {
    display: block;
    align-items: flex-start;
    width: 170px;
    height: auto;
    margin-left: 150px;
    /* margin-top: 20px; */
    /* border: 5px solid red;    */
    transition: all .3s ease-in-out;        
}
.nav-principal ul {
    display: flex;
    list-style: nome;
    margin-right: 220px;
    padding-top: 10px;
    gap: 20px;
    list-style-type: none;
    /* border: 5px solid orange; */
    
}
.nav-principal ul a {
    font-family: 'Arial', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* background-color: rgb(61, 61, 246); */
    display: flex;
    width: auto;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    font-size: 22px;
    /* border: 5px solid red; */
    transition: all .3s ease-in-out;
}
.hero-content {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 5px; /* Isso cria uma área de proteção bem larga */
    
    /* Esta é a mágica: uma mancha preta suave que se espalha para as bordas */
    background: radial-gradient(
        circle, 
        rgba(0, 0, 0, 0.6) 0%, 
        rgba(0, 0, 0, 0.3) 40%, 
        transparent 80%
    );
    
    /* Opcional: Desfoca levemente apenas o que está atrás dessa mancha */
    backdrop-filter: blur(4px); 
    -webkit-backdrop-filter: blur(4px);

    margin: -60px auto;
    width: fit-content;
}

/* ============= HERO texto ===================== */
h1 {
    font-family: 'Alex Brush', cursive;
    text-align: center;
    color: white;
    font-size: 4.5rem;
    letter-spacing: 2px;
    line-height: 1.1;
    margin: 0;
    text-shadow: 
        2px 2px 8px rgba(0, 0, 0, 0.9), 
        0px 0px 15px rgba(0, 0, 0, .9);
   
}
.linha-decorativa {
  width: 90%;
  height: 3px;
  background: linear-gradient(
    to right,
    transparent,
    #f4fc7e,
    #e8d5a3,
    #c8a96e,
    transparent
  );
  margin: 8px auto 0 auto;
  border: none;
}
h2 {
    font-family: 'Arial', Courier, monospace;
    font-size: 30px;
    text-align: center;
    color: #f4fc7e;
    /* color: white; */
    line-height: 2;    
    padding: 0;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

/* ============== RODAPE HERO ================= */
#rodape-hero {
    position: relative;
    background-image:
    url(imagens/background.png);
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    background-size: cover; 
    height: 120px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    /* border: 2px solid green; */
}
#rodape-hero ul {
    margin-top: 0;
    display: flex;
    justify-content: center;
    padding-top: 0px;
    /* border: 2px solid rgb(19, 11, 231); */
}
#rodape-hero ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    transition: all .3s ease-in-out;
    /* border: 2px solid rgb(206, 236, 95); */
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(59, 59, 191);
    margin: 0;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 6px;
}

/* ============== SOBRE ================= */
#sobre {
    background-image: url('imagens/background.png');
    background-color: rgba(220, 223, 41, 0.1);
    background-blend-mode: multiply;
    background-size: cover;
    
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 50px;
    gap: 0;
}
.primeiro {
    flex: 1; /* Ocupa o espaço proporcional */
    max-width: 500px;
    transition: all .3s ease-in-out;
}
.primeiro h1 {
    color: #1a4a7c;
    font-family: 'Alex Brush', cursive; /* A fonte que você escolheu é ótima */
    font-size: 3rem;
    margin-bottom: 0;
    text-shadow: 
        2px 2px 8px rgba(0, 0, 0, 0), 
        0px 0px 15px rgba(0, 0, 0, 0);
}
.linha-decorativa {
    width: 90%;
  height: 3px;
  background: linear-gradient(
    to right,
    transparent,
    #f4fc7e,
    #e8d5a3,
    #c8a96e,
    transparent
  );
  margin: 8px auto 0 auto;
  border: none;
}
.primeiro h2 {
    font-family: Arial, sans-serif;
    color: #0d3b66;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.container-foto-fundo img {
    width: 100%;
    height: 250px;
    object-fit: cover; /* Faz a imagem preencher o espaço sem deformar */
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
/* O Card da Direita */
.segundo {
    flex: 1;
    max-width: 450px;
    margin-left: -10px; /* ISSO cria o efeito de sobreposição da imagem */
    z-index: 10;
    transition: all .3s ease-in-out;
}
.card-polaroid {
    background: white;
    padding: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6); /* Sombra para dar profundidade */
}
.card-polaroid img {
    width: 100%;
    display: block;
}
.texto-card {
    padding: 20px 5px;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    line-height: 1.4;
}

/* ============== ACOMODAÇOES ================= */
#acomodacoes {
    background-image: url('imagens/background.png');
    background-color: rgba(220, 223, 41, 0.1);
    background-blend-mode: multiply;
    background-size: cover;
    padding: 30px;
    padding-bottom: 50px;
}
#acomodacoes h1 {
    color: #1a4a7c;
    font-family: 'Alex Brush', cursive; /* A fonte que você escolheu é ótima */
    font-size: 3rem;
    margin-bottom: -7px;
    text-shadow: 
        2px 2px 8px rgba(0, 0, 0, 0), 
        0px 0px 15px rgba(0, 0, 0, 0);   
}
.linha-decorativa3 {
    width: 50%;
    height: 3px;
    background: linear-gradient(
        to right,
        transparent,
        #f4fc7e,
        #e8d5a3,
        #c8a96e,
        transparent
    );
    margin: 8px auto 0 auto;
    border: none;
}
#acomodacoes h2 {
    font-family: Arial, sans-serif;
    color: #0d3b66;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-shadow: 
        2px 2px 8px rgba(0, 0, 0, 0), 
        0px 0px 15px rgba(0, 0, 0, 0);
}
.acomodacoes-fotos {
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
.quartos {    
    box-shadow:  0 4px 8px black;
    margin-top: 20px;
    margin-bottom: 20px;     
    max-width: 1050px;
    /* border: 5px solid red; */
    width: 400px;
    height: 200px;
    transition: all .3s ease-in-out;
}
.quartos p {
    padding-left: 130px;
}
.quartos img {
    width: 100%;
    height: 100%;
}

/* ============== GALERIA ================= */
#galeria {
    background-image: url('imagens/background.png');
    background-color: rgba(194, 189, 189, 0.5);
    background-blend-mode: lighten;
    background-size: cover;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#galeria h1 {
    color: #1a4a7c;
    font-family: 'Alex Brush', cursive; /* A fonte que você escolheu é ótima */
    font-size: 3rem;
    margin-bottom: -10px;
    text-shadow: 
        2px 2px 8px rgba(0, 0, 0, 0), 
        0px 0px 15px rgba(0, 0, 0, 0);
}
.linha-decorativa4 {
    width: 30%;
    height: 2px;
    background: linear-gradient(
        to right,
        transparent,
        #c8a96e,
        #f4fc7e,
        #e8d5a3,
        transparent
    );
    margin: 8px auto 0 auto;
    border: none;
}
.galeria-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin-top: 10px;    
    width: 63%;
    gap: 10px;
    padding: 10px;
    margin-bottom: 30px;
}
.galeria-foto {
    width: 500px;
    height: 450px;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.galeria-foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}

/* ============== LOCALIZAÇAO ================= */
#localizacao {
    background-image: url('imagens/background.png');
    background-color: rgba(194, 189, 189, 0.9);
    background-blend-mode: lighten;
    background-size: cover;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
#localizacao h1 {
    color: #1a4a7c;
    font-family: 'Alex Brush', cursive; /* A fonte que você escolheu é ótima */
    font-size: 3rem;
    margin-bottom: -10px;
    text-shadow: 
        2px 2px 8px rgba(0, 0, 0, 0), 
        0px 0px 15px rgba(0, 0, 0, 0);
}
.linha-decorativa5 {
    width: 30%;
    height: 2px;
    background: linear-gradient(
        to right,
        transparent,
        #c8a96e,
        #f4fc7e,
        #e8d5a3,
        transparent
    );
    margin: 8px auto 20px auto;
    border: none;
}

/* ============== FOOTER ================= */
#contato {
    background-image: url('imagens/background.png');
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    padding-top: 10px;
    height: 150px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo-pousada img {
    display: block;
    align-items: flex-start;
    width: 140px;
    height: auto;
    margin-left: 150px;
    margin-top: 5px;
    padding-right: 30px;
    /* border: 5px solid red;    */
    transition: all .3s ease-in-out;
}
address {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    color: rgb(33, 15, 15);
    line-height: 1.6;
    transition: all .3s ease-in-out;
}
address a {
    text-decoration: none;
    color: rgb(46, 29, 228);
    font-weight: bold;
}
.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-left: 90px;
    width: 300px;
    height: 150px;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.redes img {
    padding-right: 30px;
    width: 80px;
    height: 80px;
    transition: all .3s ease-in-out;
}


/* ============== hover ================= */
.logo-pousada img:hover {
    transform: scale(1.2);
}
.nav-principal ul a:hover {
    transform: scale(1.2);
    background-color: #4494B3;
    box-shadow: 0 6px 16px rgba(68,148,179,0.4);
}
#rodape-hero ul li:hover {
    transform: scale(1.1);
}
.primeiro:hover {
    transform: scale(1.1);
}
.segundo:hover {
    transform: scale(1.1);
}
.quartos:hover {
    transform: scale(1.2);
}
.galeria-foto:hover {
    transform: scale(1.1);
}
address:hover {
   transform: scale(1.1); 
}
.redes img:hover {
    transform: scale(1.2);
}