body {
    margin : 0;
}
 /* ============== FUNDO ========================== */
header {
    background-image:
     url(imagens/35.jpg);
    border-bottom: 10px solid rgb(34, 48, 47);
    background-size: cover; 
    height: 750px;
    display: block
}

/* =============== nav-principal ================== */

.nav-principal {
    display: flex;
    align-items: flex-start;           /* alinhamento vertical */
    justify-content: space-between; /* espaçamento horizontal */
    width: 100%;
    height: 165px;
    /* border: 5px solid red; */
    padding-top: 30px;
}

.menu-esquerda {
    display: inline-block;
    margin-top: 0px;
    /* border: 5px solid purple; */
}
.logo-pousada img {
    display: inline-block;
    /* width: 80px; */
    /* height: 30px; */
    margin-left: 70px;
} 



.menu-direita {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-right: 80px;
    width: 180px;
    /* border: 5px solid orange; */
}



.entrar a{
    text-decoration: none;
    color: white;
    background-color: red;
    display: flex;
    align-items: center; /* alinhamento vertical */
    justify-content: center; /* alinhamento horizontal */
    width: 60px;
    height: 25px;
    border-radius: 5px;
}




/* ============= texto ===================== */
h1 {
    font-family: 'Alex Brush', cursive;
    text-align: center;
    color: white;
    font-size: 4rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);   
}

h2 {
    font-family: 'Arial', Courier, monospace;
    font-size: 20px;
    text-align: center;
    color: white;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}








/* ============== secao one ================= */

#one1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 380px;
    padding-top: 0;
    /* border: 2px solid green; */
    border-bottom: 10px solid rgb(34, 48, 47);
}

.primeiro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 320px;
    height: 280px;
    /* border: 1px solid white; */
}

.primeiro h1 {
    display: inline-block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.primeiro p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/* ============== secao two ================= */

#two {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
    border-bottom: 10px solid rgb(34, 48, 47);
}

.quarto img {
    width: 380px;
    height: auto;
    /* border: 1px solid yellow; */
}
.terceiro {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 380px;
    height: 270px;
    /* border: 1px solid orange; */

}

.terceiro h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.terceiro p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/* ============== secao tree ================= */

.tree {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    border-bottom: 10px solid rgb(34, 48, 47);    
}

.quinto {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 380px;
    height: 280px;
    /* border: 1px solid orange; */
}

.quinto h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 5px;
}

.quinto p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.sexto img {
    width: 400px;
    /* border: 1px solid yellow; */
}


/* ============== secao four ================= */
#four {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: black;
}

.setimo img {
    width: 280px;
}

.oitavo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 300px;
    height: 300px;
    /* border: 1px solid yellow; */
}

.oitavo h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.oitavo p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}