:root {
    font-size: 62.5%; /* torna 1rem = 10px */
}
body {
    margin : 0;
    padding: 0;
}
 /* ============== FUNDO ========================== */
header {
    background-image:
    linear-gradient(to bottom, rgba(0,0,0,0) 60%, rgba(0,0,0,0.6) 100%),
     url(imagens/101Tratada.png);
    
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Adicione isso para evitar que a imagem estique demais em telas gigantes */
    max-width: 1920px; 
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    /* border: 2px solid green;  */
    
}

/* ============== BOTAO ZAP ========================== */
.btn-whatsapp {
    position: fixed;    
    bottom: 2rem;       
    right: 2rem;        
    width: 10rem;        
    height: 10rem;       
    z-index: 1000;      /* Garante que ele fique sobre todos os outros elementos */

    /* Configurações para o surgimento suave */
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    transition: transform 0.2s ease;
}
.btn-whatsapp.mostrar {  /* classe acionada pelo js */
    opacity: 1;
    visibility: visible;
}
.btn-whatsapp:hover {
    transform: scale(1.2); /* Efeito de aumento ao passar o mouse */
}
/* Definindo a animação de vibração  */
@keyframes tremer {
    0% { transform: rotate(0deg); }
    5% { transform: rotate(10deg); }
    10% { transform: rotate(-10deg); }
    15% { transform: rotate(10deg); }
    20% { transform: rotate(-10deg); }
    25% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); } 
    
}
.btn-whatsapp img {
    width: 100%;
    height: auto;
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.2));
    
    /* Aplica a animação */
    animation: tremer 5s infinite; 
    transform-origin: center; /* Garante que trema a partir do meio */
}
/* Pausa a animação quando o usuário passa o mouse para não atrapalhar o clique */
.btn-whatsapp:hover img {
    animation-play-state: paused;
    transform: scale(1.1);
}

/* =============== nav-principal ================== */
.nav-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid rgb(230, 236, 113); */
}
.logo-pousada img {
    display: block;
    align-items: flex-start;
    width: 17rem;
    height: auto;
    margin-right: 55rem;
    /* border: 5px solid red;    */
    transition: all .3s ease-in-out;        
}
.nav-principal ul {
    display: flex;
    list-style: nome;
    padding-top: 1rem;
    gap: 1rem;
    list-style-type: none;
    /* border: 5px solid orange; */
    
}
.nav-principal ul a {
    font-family: 'Arial', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    width: auto;
    border-radius: 0.5rem;
    font-size: 2rem;
    /* border: 5px solid red; */
    position: relative;
    transition: all .3s ease-in-out;
}
.nav-principal ul li {
    position: relative;
    padding-right: 1rem; /* espaço para a barra */
}
.nav-principal ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.4);
}
.hero-content {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .5rem .5rem;
    margin: auto;
    margin-top: 19rem;    
    
    background: radial-gradient(
        circle, 
        rgba(0, 0, 0, 0.6) 0%, 
        rgba(0, 0, 0, 0.3) 40%, 
        transparent 80%
    ); 
    backdrop-filter: blur(4px); 
    -webkit-backdrop-filter: blur(4px);

    width: fit-content;
}

/* ============= HERO texto ===================== */
h1 {
    font-family: 'Alex Brush', cursive;
    text-align: center;
    color: white;
    font-size: 9rem;
    letter-spacing: 2px;
    margin: 0;
    text-shadow: 
        2px 2px 8px rgba(0, 0, 0, 0.9), 
        0px 0px 15px rgba(0, 0, 0, .9);
   
}
.linha-decorativa {
  width: 90%;
  height: 3px;
  background: linear-gradient(
    to right,
    transparent,
    #f4fc7e,
    #e8d5a3,
    #c8a96e,
    transparent
  );
  margin: 8px auto 0 auto;
  border: none;
}
h2 {
    font-family: 'Arial', Courier, monospace;
    font-size: 3.5rem;
    text-align: center;
    color: #f4fc7e;
    /* color: white; */
    line-height: 2;    
    padding: 0;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

/* ============== RODAPE HERO ================= */
#rodape-hero {
    background-image:
    url(imagens/background.png);
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    background-size: cover;
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
}
#rodape-hero ul {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    /* border: 2px solid rgb(19, 11, 231); */
}
#rodape-hero ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24vw;
    transition: all .3s ease-in-out;
    /* border: 2px solid rgb(206, 236, 95); */
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: rgb(59, 59, 191);
    margin: 0;
    /* border: 2px solid rgb(19, 11, 231); */
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    /* border: 2px solid rgb(19, 11, 231); */
}

/* ============== SOBRE ================= */
#sobre {
    background-image: url('imagens/background.png');
    background-color: rgba(220, 223, 41, 0.1);
    background-blend-mode: multiply;
    background-size: cover;
    
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 2rem;
    gap: 0;
}
.primeiro {
    flex: 1; /* Ocupa o espaço proporcional */
    max-width: 50rem;
    transition: all .3s ease-in-out;
}
h3 {
    margin-top: 0;
    color: #1a4a7c;
    text-align: center;
    font-family: 'Alex Brush', cursive; /* A fonte que você escolheu é ótima */
    font-size: 4rem;
    margin-bottom: 0;
    text-shadow: 
        2px 2px 8px rgba(0, 0, 0, 0), 
        0px 0px 15px rgba(0, 0, 0, 0);
}
.linha-decorativa {
    width: 90%;
  height: 3px;
  background: linear-gradient(
    to right,
    transparent,
    #f4fc7e,
    #e8d5a3,
    #c8a96e,
    transparent
  );
  margin: 8px auto 0 auto;
  border: none;
}

.container-foto-fundo img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Faz a imagem preencher o espaço sem deformar */
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
/* O Card da Direita */
.segundo {
    flex: 1;
    max-width: 45rem;
    margin-left: -10px; /* ISSO cria o efeito de sobreposição da imagem */
    z-index: 10;
    transition: all .3s ease-in-out;
}
.card-polaroid {
    background: white;
    padding: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6); /* Sombra para dar profundidade */
}
.card-polaroid img {
    width: 100%;
    display: block;
}
.texto-card {
    padding: 1.5rem .5rem;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    line-height: 1.4;
}


/* ============== ACOMODAÇOES ================= */
#acomodacoes {
    background-image: url('imagens/background.png');
    background-color: rgba(220, 223, 41, 0.1);
    background-blend-mode: multiply;
    background-size: cover;
    padding: 3rem;
    padding-bottom: 5rem;
}
.linha-decorativa3 {
    width: 50%;
    height: 3px;
    background: linear-gradient(
        to right,
        transparent,
        #f4fc7e,
        #e8d5a3,
        #c8a96e,
        transparent
    );
    margin: 8px auto 0 auto;
    border: none;
}
#acomodacoes h2 {
    font-family: Arial, sans-serif;
    color: #0d3b66;
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 
        2px 2px 8px rgba(0, 0, 0, 0), 
        0px 0px 15px rgba(0, 0, 0, 0);
}
.acomodacoes-fotos {
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;
    gap: 3rem;
    
}
.quartos {    
    box-shadow:  0 4px 8px black;
    margin-top: 2rem;
    margin-bottom: 2rem;     
    max-width: 1050px;
    /* border: 5px solid red; */
    width: 40rem;
    height: 20rem;
    transition: all .3s ease-in-out;
}
.quartos p {
    padding-left: 130px;
}
.quartos img {
    width: 100%;
    height: 100%;
}


/* ============== GALERIA ================= */
#galeria {
    background-image: url('imagens/background.png');
    background-color: rgba(194, 189, 189, 0.5);
    background-blend-mode: lighten;
    background-size: cover;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.linha-decorativa4 {
    width: 30%;
    height: 2px;
    background: linear-gradient(
        to right,
        transparent,
        #c8a96e,
        #f4fc7e,
        #e8d5a3,
        transparent
    );
    margin: 8px auto 0 auto;
    border: none;
}
.galeria-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin-top: 10px;    
    width: 88%;
    gap: 10px;
    padding: 10px;
    margin-bottom: 30px;
    /* border: 2px solid green; */
}
.galeria-foto {
    width: 50rem;
    height: 45rem;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.galeria-foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}

/* ============== LOCALIZAÇAO ================= */
#localizacao {
    background-image: url('imagens/background.png');
    background-color: rgba(194, 189, 189, 0.9);
    background-blend-mode: lighten;
    background-size: cover;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.linha-decorativa5 {
    width: 30%;
    height: 2px;
    background: linear-gradient(
        to right,
        transparent,
        #c8a96e,
        #f4fc7e,
        #e8d5a3,
        transparent
    );
    margin: 8px auto 20px auto;
    border: none;
}
iframe {
    width: 90vw;
    height: 70vh;    
}

/* ============== FOOTER ================= */
#contato {
    background-image: url('imagens/background.png');
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    padding-top: 1rem;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
.logo-pousada img {
    display: block;
    align-items: flex-start;
    width: 14rem;
    height: auto;
    margin-left: 15rem;
    margin-top: .5rem;
    padding-right: 3rem;
    /* border: 2px solid red;    */
    transition: all .3s ease-in-out;
}
address {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-style: normal;
    color: rgb(33, 15, 15);
    line-height: 1.6;
    transition: all .3s ease-in-out;
    /* border: 2px solid green; */
}
address a {
    text-decoration: none;
    color: rgb(46, 29, 228);
    font-weight: bold;
}
.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 30rem;
    height: 15rem;
    overflow: hidden;
    transition: all .3s ease-in-out;
    /* border: 2px solid green; */
}
.redes img {
    padding-right: 3rem;
    width: 8rem;
    height: 8rem;
    transition: all .3s ease-in-out;
}


/* ============== hover ================= */
.logo-pousada img:hover {
    transform: scale(1.2);
}
.nav-principal ul a:hover {
    transform: scale(1.2);
    background-color: #4494B3;
    box-shadow: 0 6px 16px rgba(68,148,179,0.4);
}
.primeiro:hover {
    transform: scale(1.1);
}
.segundo:hover {
    transform: scale(1.1);
}
.quartos:hover {
    transform: scale(1.2);
}
.galeria-foto:hover {
    transform: scale(1.2);
}
address:hover {
   transform: scale(1.1); 
}
.redes img:hover {
    transform: scale(1.2);
}






/* ====================================== */
/* ============== QUERY ================= */

@media (max-width: 1280px) {
header {
    background-position: 90% center;
    /* border: 5px solid red; */
}
.galeria-foto {
width: 90%;
height: auto;
}
.logo-pousada img {
    margin-right: 10rem;
    /* border: 5px solid red;    */
}

    iframe {
    width: 100rem;
    height: 50rem;    
}


}

@media (max-width: 1024px) {
:root {
    font-size: 50%;
}
header {
    background-position: 90% center;
    /* border: 5px solid red; */
}
.btn-whatsapp {
    right: 11rem;
}
.hero-content {
    margin-top: 25rem;
}
.logo-pousada img {
    margin-right: 5rem;
    /* border: 5px solid red;    */
    transition: all .3s ease-in-out;        
}
/*  */
.acomodacoes-fotos {
    display: flex;
    flex-wrap: wrap;          
    justify-content: center;  
}
/*  */
.galeria-foto {
width: 90%;
height: auto;
}
iframe {
    width: 100rem;
    height: 50rem;    
}
}

@media (max-width: 768px) {
:root {
font-size: 50%;
}
header {
    background-position: 80% center;
}        
.nav-principal {
    align-items: center;
    /* border: 5px solid rgb(88, 92, 21); :    */
}
.logo-pousada img {
    margin: 2rem;
    padding-right: 0;         
    width: 17rem; 
    /* border: 5px solid rgb(230, 236, 113);           */
}
.nav-principal ul {
    margin-right: 2rem;        
    padding: 0;
    justify-content: center;
    gap: 10px;
    /* border: 5px solid rgb(230, 236, 113); */
}    
.nav-principal ul a {
    font-size: 2rem;        
}
h1 {
    font-size: 6rem;        
}
/* == rodape-hero == */
#rodape-hero ul {
    width: 90%;
    
    /* border: 2px solid rgb(19, 11, 231); */
}
#rodape-hero ul li {
    flex-grow: 1;    
    object-fit: cover;
    /* border: 2px solid rgb(133, 131, 187); */

}
#rodape-hero img {
    /* padding-right: -4rem; */
    width: 12rem;
    height: auto;
}

.galeria-section {   
width: 90%;
/* border: 2px solid green; */
}
.galeria-foto {
width: 90%;
height: auto;
}
.galeria-foto:hover {
    display: none;
}


iframe {
    width: 600px;
    height: 500px;    
}

#contato {
    justify-content:flex-start
}
.redes {
    margin-left: -2rem;
}
}

@media (max-width: 480px) {
:root {
    font-size: 50%;
}
.btn-whatsapp {
    right: 2rem;
}
.hero-content {
    /* border: 5px solid red; */
    margin-top: 19rem;   
}
.nav-principal ul {
    display: none;
        /* align-items: center; */
        /* border: 5px solid rgb(88, 92, 21); :    */
}
#rodape-hero ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    /* border: 2px solid rgb(19, 11, 231); */
}
#rodape-hero ul li {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    transition: all .3s ease-in-out;
    /* border: 2px solid rgb(206, 236, 95); */
}
.rodape-heroe-div {
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#sobre {
    display: flex;
    flex-direction: column    
}
.galeria-foto:hover {
    display: none;
}
.primeiro:hover {
    display: none;;
}
iframe {
    width: 45rem;
    height: 40rem;    
}



#contato {
    display: flex;
    flex-direction: column;
}
#contato .logo-pousada img {
    display: none; 
}
.redes img {
    padding-right: 1rem;
    width: 6rem;
    height: auto;
}
address {
    font-size: 2rem;
    margin-left: 1rem;
    /* border: 2px solid green; */
}
}